# 1Q

In [10]:
num = float(input("Input a number:- "))
if num > 0:
    print("It is a positive Integer")

elif num == 0:
    print("It is zero")
else:
  
   print("It is a negative Integer")

Input a number:- 150
It is a positive Integer

# 2Q

In [1]:

import math
def area_square(a):
    area1=float(a*a);
    print("Area of square is:",area1)
def area_circle(r):
    area2=float(3.14*r*r);
    print("Area of circle is:",area2)

    
def area_rectangle(a,b):
    area3=float(a*b);
    print("Area of rectangle is:",area3)

    
def area_triangle(x,y):
    area4=float((x*y)/2);
    print("Area of triangle is:",area4)


def peri_square(a):
    peri1=float(4*a);
    print("Perimeter of square is:",peri1)


def peri_circle(r):
    peri2=float(2*3.14*r);
    print("Perimter of circle is:",peri2)


def peri_triangle(a,b):
    hypotenuse=float(math.sqrt(a*a+b*b))
    peri3=float(a+b+hypotenuse)
    print("Perimter of right angled triangle is:",peri3)

    
def peri_rectangle(a,b):
    peri4=float(2*(a+b))
    print("Perimter of rectangle is:",peri4)


side=float(input("enter the side of square:"))
area_square(side)
print()

peri_square(side)
radius=float(input("enter the radius of circle:"))
area_circle(radius)
peri_circle(radius)

length=float(input("enter the length of rectangle:"))
breadth=float(input("enter the breadth of rectangle:"))
area_rectangle(length,breadth)
peri_rectangle(length,breadth)


base=float(input("enter the base of right angled triangle:"))
height=float(input("enter the height of right angled triangle:"))
area_triangle(base,height)
peri_triangle(base,height)

enter the side of square:18
Area of square is: 324.0

Perimeter of square is: 72.0
enter the radius of circle:32
Area of circle is: 3215.36
Perimter of circle is: 200.96
enter the length of rectangle:64
enter the breadth of rectangle:23
Area of rectangle is: 1472.0
Perimter of rectangle is: 174.0
enter the base of right angled triangle:26
enter the height of right angled triangle:34
Area of triangle is: 442.0
Perimter of right angled triangle is: 102.80186911806538

# 3Q

In [18]:
class Student:
    def stu_details (self):
        self.Rollno = int(input("Enter Rollno:- "))
        self.Sname = str(input("Enter the Sname:- "))
        self.Branch = str(input("Enter the Branch:- "))

    def __del__(self,other):
        return Student(new_value)

    def stu_info (self):

        print("Enter Rollno:- ",self.Rollno)
        print("Enter the Sname:- ",self.Sname)
        print("Enter the Branch:- ",self.Branch)

In [14]:
obj = Student()
obj.stu_details()

Enter Rollno:- 12
Enter the Sname:- ravi
Enter the Branch:- M.tech

In [15]:
obj.stu_info()

Enter Rollno:-  12
Enter the Sname:-  ravi
Enter the Branch:-  M.tech

# 4Q

In [72]:
class Student :

    
    counter = 0

   
    def __init__(self,name,age) :

        
        self.name = name
        self.age = age

       
        Student.counter += 1

    
    def printDetails(self) :
        print(self.name,self.age,"years old")

    def modify(self) :
        print(self.name,self.age,"years old")



student1 = Student('Ankit Rai',22)
student2 = Student('Aishwarya',21)
student3 = Student('Shaurya',21)


print("Total number of objects created: ",Student.counter)

print("Student data")

Student.printDetails(student1)
Student.printDetails(student2)
Student.printDetails(student3)

print("Modify the data")
student1 = Student('Suresh',23)
student2 = Student('Ramesh',24)
student3 = Student('Ravi',25)


Student.modify(student1)
Student.modify(student2)
Student.modify(student3)

Total number of objects created:  3
Student data
Ankit Rai 22 years old
Aishwarya 21 years old
Shaurya 21 years old
Modify the data
Suresh 23 years old
Ramesh 24 years old
Ravi 25 years old

# 5Q

In [83]:
def Student():
    global x,y
    x = 101
    y = "Ravi"
Student()

print("RollNo:-",x,"\nStudent Name",y)
print(dir(Student))
def Student1():
    global x
    x = 102
    y = "Ramesh"
Student1()
print(vars(Student1))
print("RollNo:-",x,"\nStudent Name",y)

RollNo:- 101
Student Name Ravi
['__annotations__', '__builtins__', '__call__', '__class__', '__closure__', '__code__', '__defaults__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__get__', '__getattribute__', '__getstate__', '__globals__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__kwdefaults__', '__le__', '__lt__', '__module__', '__name__', '__ne__', '__new__', '__qualname__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']
{}
RollNo:- 102
Student Name Ravi

# 6Q

In [88]:
import datetime

inputDate = input("Enter the date in format 'dd/mm/yy' : ")
day,month,year = inputDate.split('/')

isValidDate = True
try :
    datetime.datetime(int(year),int(month),int(day))
except ValueError :
    isValidDate = False

if(isValidDate) :
    print ("Input date is valid!")
else :
    print ("Input date is invalid!")

Enter the date in format 'dd/mm/yy' : 05/08/2000
Input date is valid!

# 7Q

In [97]:
ini_list1=[1,2,3,4,5,]
ini_list2='12345'

print(1 + 2)

print("Geeks"+"For") 

print(3 * 4)

print("Geeks"*4)
if isinstance(ini_list1,list):
    print("your object is a list !")
else:
    print("your object is not a list")
if isinstance(ini_list2,list):
    print("your object is a list")
else:
    print("your object is not a list")

3
GeeksFor
12
GeeksGeeksGeeksGeeks
your object is a list !
your object is not a list

# 8Q

In [106]:
import cmath


x = 5
y = 3


z = complex(x,y);


print ("The real part of complex number is : ",end="")
print (z.real)

print ("The imaginary part of complex number is : ",end="")
print (z.imag)

The real part of complex number is : 5.0
The imaginary part of complex number is : 3.0

# 9Q

In [108]:
class Student:
    student_name = 'Rehan'
    marks = 70  
print(f"Student Name: {getattr(Student, 'student_name')}")
print(f"Marks: {getattr(Student, 'marks')}")
setattr(Student, 'student_name', 'Suresh')
setattr(Student, 'marks', 75) 
print(f"Student Name: {getattr(Student, 'student_name')}")
print(f"Marks: {getattr(Student, 'marks')}")

Student Name: Rehan
Marks: 70
Student Name: Suresh
Marks: 75

# 10Q

In [109]:
class Student(object):
    def __init__(self, name):
        self.name = name 


    def Stu_Name(self):
        return self.name 


    def Student1(self):
        return False


class Student2(Student):
    def Student1(self):
        return True

stu_1 = Student("Ramesh") 
print(stu_1.Stu_Name(), stu_1.Student1()) 

stu_1 = Student2("Suresh") 
print(stu_1.Stu_Name(), stu_1.Student1())

Ramesh False
Suresh True