# 1Q

In [3]:
list={'anil','ashwini','ballu','bani','anand','bhavan','bhanumati'}
a_list=set()
b_list=set()
for x in list:
    if x[0]=='a':
        a_list.add(x)
        
    elif x [0]=='b':
        b_list.add(x)
        
print(a_list)
print(b_list)

{'anand', 'ashwini', 'anil'}
{'ballu', 'bhavan', 'bhanumati', 'bani'}

# 2Q

In [7]:
i1=[("Santoor soup",22.5),("Chik Shapoo",2.3),("No1 soup",23.4),("Exo Soup",5.2)]
print("Item        :     price")
for i in i1:
    print(i[0],"   :   ",i[1])

Item        :     price
Santoor soup    :    22.5
Chik Shapoo    :    2.3
No1 soup    :    23.4
Exo Soup    :    5.2

# 3Q

In [3]:
value = 1
List=[]
print("Enter a value")
while(value != 0):
    List.append(value)
    value = int(input())
temp = sorted(List)
print("the sorted order is : ")
for i in temp:
    print(i)

Enter a value
1
5
8
2
4
6
3
9
0
the sorted order is :
1
1
2
3
4
5
6
8
9

# 4Q

In [6]:
str_n=input("Enter numbers separated by spaces:")
number_str = str_n.split()
num=[]
ret=[]
if len(number_str)>5:
    for s in number_str:
        num.append(int(s))
    ret=num.copy()
    del_list=num.copy()
    del_list.sort()
    for s in del_list[0:2]+del_list[-2:]:
        ret.remove(s)
    print(ret)
    print(num)
else:
    print("You entered less than five values!")

Enter numbers separated by spaces:10
You entered less than five values!

# 5Q

In [7]:
words = []

word = input("Enter a word (blank line to quit): ")

while word != "":
    if word not in words:
        words.append(word)
        word = input("Enter a word (blank line to quit): ")

for word in words:
    print(word)

Enter a word (blank line to quit): hello
Enter a word (blank line to quit):
hello

# 6Q

In [ ]:
print("Input some integers to calculate their average. Input 0 to exit.")
count = 0
sum = 0.0
number = 1
while number != 0:
    number + float(input(""))
sum += number
count += 1
if count ==0:
    print("Input some number")
else:
    print("Average of the above number are: ", sum / (count-1), sum)

# 7Q

In [12]:
determine = 'one one two two'
unique_words = set(determine.split())
print(unique_words)

{'two', 'one'}

# 9Q

In [50]:
def is_perfect(n):
    perfect_sum = 0
    for i in range(1,n):
        if n%i==0:
            perfect_sum += i
    return perfect_sum == n
number = int(input('Enter number: '))
if is_perfect(number):
    print(' true' )
else:
    print(' false' )

Enter number: 496
 true

# 10Q

In [36]:
def test(dict, val):
    return list(key for key, value in dict.items() if value == val)
students = {
    'Theodore': 19,
    'Roxanne': 20,
    'Mathew': 21,
    'Betty': 20
}
students_key = map(lambda x:x, students )
list(students_key)

['Theodore', 'Roxanne', 'Mathew', 'Betty']

In [21]:
students = {
    'Theodore': 19,
    'Roxanne': 20,
    'Mathew': 21,
    'Betty': 20
}
students

{'Theodore': 19, 'Roxanne': 20, 'Mathew': 21, 'Betty': 20}

In [24]:
students_key = map(lambda x:x, students )

In [26]:
list(students_key)

['Theodore', 'Roxanne', 'Mathew', 'Betty']

In [31]:
student={input("enter the value")}
students_key = map(lambda x:x, students )
list(students_key)
print(student)

enter the value'Theodore': 19
{"'Theodore': 19"}